.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-theme-color);
}

.section {
  padding-top: var(--padding-container);
  padding-bottom: var(--padding-container);
  box-sizing: border-box;
}
.section__title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}
.section__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.section__text {
  font-size: 1.25rem;
  margin: 0;
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}

.f-elements {
  display: flex;
}
.f-elements--header {
  justify-content: space-between;
  align-content: center;
}
.f-elements--center {
  justify-content: center;
  align-items: center;
}
.f-elements--responsive {
  flex-direction: column;
}

.g-elements {
  display: grid;
}
.g-elements--album {
  grid-template-columns: 100%;
}
.g-elements--center {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.g-elements--responsive {
  grid-template-columns: 100%;
}

.t-align-center {
  text-align: center;
}

@media (min-width: 768px) {
  .f-elements--responsive {
    flex-direction: row;
  }
  .g-elements--responsive--hero {
    grid-template-columns: 1fr 2fr;
  }
  .g-elements--album {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--header {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: var(--secondary-theme-color);
  transform: translateX(var(--translate-list-header));
  transition: transform 0.25s;
}
.list__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s;
}
.list__link:hover {
  color: var(--secondary-text-color);
}
.list__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-text-color);
  transition: width 0.25s;
}
.list__link:hover::before {
  width: 100%;
}

@media (min-width: 768px) {
  .list--header {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}
.nav {
  --translate-list-header: 100%;
  --scale-menu: 1;
  --scale-close: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.nav:target {
  --translate-list-header: 0;
  --scale-menu: 0;
  --scale-close: 1;
}
.nav__logo {
  color: var(--primary-text-color);
  font-size: 1.75rem;
  font-weight: 900;
  text-decoration: none;
}
.nav__icon {
  position: absolute;
  right: var(--padding-container);
  font-size: 1.75rem;
  text-decoration: none;
  transition: transform 0.25s;
  color: var(--primary-text-color);
}
.nav__icon--menu {
  transform: scale(var(--scale-menu));
}
.nav__icon--close {
  transform: scale(var(--scale-close));
}

@media (min-width: 768px) {
  .nav {
    --translate-list-header: 0;
    --scale-menu: 0;
  }
  .nav:target {
    --scale-close: 0;
  }
}
.d-none {
  display: none;
}

.p-relative {
  position: relative;
}

.f-direction-column {
  flex-direction: column;
}

.gap-sm {
  gap: calc(var(--padding-section) * 0.5);
}

.gap-md {
  gap: var(--padding-section);
}

.gap-lg {
  gap: 5rem;
}

.m-right {
  margin-right: calc(var(--padding-section) * 2);
}

@media (min-width: 768px) {
  .md\:f-direction-row {
    flex-direction: row;
  }
  .md\:d-block {
    display: block;
  }
  .m-right {
    margin-right: 0;
  }
}
.hero {
  background-color: var(--primary-theme-color);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  overflow: hidden;
}

.card {
  max-width: 320px;
  overflow: hidden;
}
.card__header {
  padding: 0.5rem 1rem;
}
.card__body {
  padding: 1rem;
}
.card__title {
  line-height: 1;
  font-size: 3.25rem;
  font-weight: 800;
  margin: 0 0 1rem;
}
.card__text {
  width: 100%;
  font-size: 0.9rem;
  text-align: justify;
  margin: 0 0 1rem;
}
.card__footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .card {
    max-width: 512px;
  }
  .card__title {
    font-size: 4rem;
  }
  .card__footer {
    display: flex;
    justify-content: start;
  }
}
.button {
  background: rgb(255, 36, 73);
  background: linear-gradient(0deg, rgb(255, 36, 73) 15%, rgb(255, 91, 46) 70%);
  border: 0.0625rem solid var(--primary-theme-color);
  border-radius: 10px;
  color: var(--secondary-theme-color);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--primary-font-family);
  text-decoration: none;
  padding: 1em 3em;
  cursor: pointer;
  transition: all 0.25s;
}
.button:hover {
  background: rgb(255, 36, 73);
  background: linear-gradient(0deg, rgb(255, 36, 73) 5%, rgb(255, 91, 46) 36%);
}

.container-slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  margin-left: -100%;
  width: 400%;
}

.slider__section {
  width: 100%;
}

.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  font-family: monospace;
}

.slider__btn--right {
  right: 10px;
}

.slider__btn--left {
  left: 10px;
}

/*# sourceMappingURL=fe.css.map */
